/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); */

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', cursive;
}

.conteiner {
  display: flex;
  justify-content: space-around;
}

.box-header {
  text-align: center;
}

.box-form {
  border: 2px solid #0F4DA8;
  background: #6A94D4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.box-text {
  border: 2px solid #1E776D;
  background: #5ED1BA;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

input {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  width: 280px;
}

.left-head {
  color: white;
}

.left-parametr {
  color: white;
  padding-left: 3px;
}

.btn-add {
  width: 150px;
  height: 42px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid #0F4DA8;
  background: #06266F	;
  border-radius: 71px;
  color: white;
  font-family: 'Montserrat', cursive;
}

.goal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.text-goal {
  font-size: 20px;
  color: #0F4DA8;
}

.btn-edit, .btn-delete {
  width: 35px;
  height: 35px;
  padding: 0px;
  background: white;
  border: 0.5px solid #1E776D;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-img, .delete-img {
  width: 20px;
  height: 20px;
}

.text-goal {
  display: inline-block;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  height: max-content;
  width: 300px;
  background: white;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.replenishment-percentage {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  width: 280px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  font-weight: 900;
  font-size: 20px;
}

.alert-message {
  margin-bottom: 0px;
  color: red;
        text-shadow: 0 -1px rgba(0,0,0,.1);
        font-weight: 600;
        -webkit-animation: pulsate 1.2s linear infinite;
        animation: pulsate 1.2s linear infinite;
    }
    @keyframes pulsate {
        50% {
        color:#fff;
        text-shadow:0 -1px rgba(0,0,0,.3),0 0 5px black,0 0 8px red;
        }
}